<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>

  <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'discussions:forum' %}">Forum</a>
              </li>
            </ul>
              <ul class="navbar-nav ml-auto">
                  {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'feed:feed' %}">Feed</a>
                  </li>
                 <li class="nav-item navbar-right">
                    <a class="nav-link" href="{% url 'messaging:inbox' %}">Mails</a>
                 </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles:user_details' request.user.pk %}">
                        <img src="{{ request.user.profile.user_avatar.url }}" width="35" height="30">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:signup' %}">Sign up</a>
                  </li>
                  {% endif %}
            </ul>
          </div>
        </nav>
  </div>


    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block javascript %}{% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>