{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-12">
            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="{% url 'registration:login' %}" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-3">
            <a class="btn btn-secondary" href="{% url 'registration:password_reset' %}">Forgot password</a>
        </div>
    </div>
</div>


{% endblock %}