{% extends "core/base.html" %}

{% block content %}

<h1>{{ request.user.username }} - Deleted messages</h1>

<a href="{% url 'messaging:inbox' %}">Inbox</a> /
<a href="{% url 'messaging:outbox' %}">Outbox</a> /
<a href="{% url 'messaging:bucket'  %}">Bucket</a>

{% if deleted_messages_list %}

<p>Messages: </p>

    <table>
    {% for message in deleted_messages_list %}
        <tr>
            <td><a href="{% url 'messaging:message' message_id=message.0.pk %}">{{ message.0.subject }} </a></td>
            <td>
                {% if message.1 %} -
                <a href="{% url 'messaging:read_unread' message_id=message.0.pk read_action='as_unread' %}">
                        Mark as unread
                </a>
                {% else %} -
                    <a href="{% url 'messaging:read_unread' message_id=message.0.pk read_action='as_read' %}">
                        Mark as read
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Your bucket is empty.</p>
{% endif %}


{% endblock %}