<a href="{% url 'discussions:index' %}">Home</a>

{% if request.user.is_authenticated %}

    / <a href="{% url 'discussions:inbox' pk=request.user.pk %}">Mails</a>

    <p>Hello, {{ request.user.username }}! </p>

    <a href="{% url 'discussions:detail' request.user.pk %}">My profile</a> /
    <a href="{% url 'discussions:feed' %}">My feed</a> /
    <a href="{% url 'discussions:logout' %}">Logout</a>

{% else %}

    <p>
        <a href="{% url 'discussions:login' %}">Login</a> / <a href="{% url 'discussions:signup' %}">Sign up</a>
    </p>

{% endif %}

    <p>
        <a href="{% url 'discussions:forum' %}">Forum</a>
    </p>

<p></p>
{% block content %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block javascript %}{% endblock %}