{% extends "discussions/base.html" %}

{% block content %}

<h1>My posts feed</h1>

{% if posts_list %}
<p>Posts:</p>
    <ul>
    {% for post in posts_list %}
        <li>
            <a href="{% url 'discussions:topic' topic_id=post.topic.pk %}#{{ post.pk }}">{{ post.topic }}</a>
            <p><a href="{% url 'discussions:mark_read' post_id=post.pk %}">Mark as read</a></p>
            <p> {{ post.post_body }} </p>
            <p> {{ post.creation_date }} </p>
            <p> Votes: {{ post.votes }} </p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no posts yet.</p>
{% endif %}


{% endblock %}