{% extends "core/base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<p>
    <a href="{% url 'discussions:new_topic' %}">Create new topic</a>
</p>
{% endif %}

{% if categories_list %}
<p>Categories:</p>
    <ul>
    {% for category in categories_list %}
        <li><a href="{% url 'discussions:category' category_id=category.pk %}">{{ category.category_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no categories yet.</p>
{% endif %}


{% endblock %}