{% extends "discussions/base.html" %}

{% block content %}

{% if queryset_list.users %}
<p>Users:</p>
    <ul>
    {% for user in queryset_list.users %}
        <li><a href="/users/{{ user.id }}/">{{ user.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no users yet.</p>
{% endif %}


{% if queryset_list.categories %}
<p>Categories:</p>
    <ul>
    {% for category in queryset_list.categories %}
        <li><a href="{% url 'discussions:category' category_id=category.pk %}">{{ category.category_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no categories yet.</p>
{% endif %}


{% endblock %}