{% extends "discussions/base.html" %}

{% block content %}

<h1>{{ request.user.username }} - Outbox</h1>

<a href="{% url 'discussions:inbox' pk=request.user.pk %}">Inbox</a> /
<a href="{% url 'discussions:outbox' pk=request.user.pk %}">Outbox</a>

{% if sent_messages_list %}
    <ul>
    {% for message in sent_messages_list %}
        <li><a href="{% url 'discussions:message' message_id=message.pk %}">{{ message.subject }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Your outbox is empty.</p>
{% endif %}


{% endblock %}