{% extends "discussions/base.html" %}

{% block content %}

<h1>{{ user.get_full_name }} - Edit profile</h1>

<form method="post" action="{% url 'discussions:edit_profile' %}">

{% csrf_token %}

<table>
<tr>
    <td>{{ user_form.first_name.label_tag }}</td>
    <td>{{ user_form.first_name }}</td>
</tr>

<tr>
    <td>{{ user_form.last_name.label_tag }}</td>
    <td>{{ user_form.last_name }}</td>
</tr>

<tr>
    <td>{{ user_form.email.label_tag }}</td>
    <td>{{ user_form.email }}</td>
</tr>

</table>

<input type="submit" value="Save">

</form>


{% endblock %}