{% extends "discussions/base.html" %}

{% block javascript %}
  <script>
    $(".vote").on("click", function () {
      var el = $(this)

      var elContent = el.text();
      var postId = el.val();

      var direction = (elContent == "Like") ? "up" : "down";
      var changeTextTo = (elContent == "Like") ? "Dislike" : "Like";

      $.ajax({
        url: '/post/vote/' + postId + '/' + direction + '/',
        dataType: 'json',
        success: function (data) {
          if (data.prev_vote == 0) {
            el.hide();
          } else {
            $("#" + postId + " .vote:hidden").show();
          }

          $('li#' + postId + ' span').text(data.votes)
        }
      });
    });

    $(".subscription").on("click", function () {
      var el = $(this)

      $.ajax({
        url: '{% url 'feed:subscription' topic_id=topic_id %}',
        dataType: 'json',
        success: function (data) {
          if (data.message == 'Subscription created') {
            el.text('Unsubscribe from this topic');
          } else if (data.message == 'Subscription removed') {
            el.text('Subscribe to this topic');
          }
        }
      });
    });
  </script>
{% endblock %}

{% block content %}

{% if not request.user.is_anonymous %}
    <form method="post" action="{% url 'discussions:topic' topic_id=topic_id %}" >
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ post_form.post_body.label_tag }}</td>
                <td>{{ post_form.post_body }}</td>
            </tr>
        </table>
        <input type="submit" value="Add post">
    </form>

    {% if is_subscribed %}
        <button class='subscription' value="{{ topic_id }}">Unsubscribe from this topic</button>
    {% else %}
        <button class='subscription' value="{{ topic_id }}">Subscribe to this topic</button>
    {% endif %}

{% endif %}


{% if posts_and_votes_list %}
<p>Posts:</p>
    <ul>
    {% for post in posts_and_votes_list %}
        <li id="{{ post.0.pk }}">
            <p>Author: {{ post.0.author.username }}</p>
            <img src="{{ post.0.author.profile.user_avatar.url }}" width="35" height="50">
            <p>Date: {{ post.0.creation_date }}</p>
            <p>{{ post.0.post_body }}</p>
            <p>Votes: <span>{{ post.0.votes }}</span></p>

            {% if not request.user.is_anonymous and request.user != post.0.author %}
                {% if post.1 == 0 %}
                    <button class='vote' value="{{ post.0.pk }}">Like</button>
                    <button class='vote' value="{{ post.0.pk }}">Dislike</button>
                {% elif post.1 == 1 %}
                    <button class='vote' value="{{ post.0.pk }}" style="display: none;">Like</button>
                    <button class='vote' value="{{ post.0.pk }}">Dislike</button>
                {% else %}
                    <button class='vote' value="{{ post.0.pk }}">Like</button>
                    <button class='vote' value="{{ post.0.pk }}" style="display: none;">Dislike</button>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no posts yet.</p>
{% endif %}

{% endblock %}