{% extends "discussions/base.html" %}

{% block content %}

{% if not request.user.is_anonymous %}
    <form method="post" action="{% url 'discussions:topic' topic_id=topic_id %}" >
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ post_form.post_body.label_tag }}</td>
                <td>{{ post_form.post_body }}</td>
            </tr>
        </table>
        <input type="submit" value="Add post">
    </form>
{% endif %}


{% if posts_list %}
<p>Posts:</p>
    <ul>
    {% for post in posts_list %}
        <li>
            <p>Author: {{ post.author.username }}</p>
            <img src="{{ post.author.profile.user_avatar.url }}" width="35" height="50">
            <p>Date: {{ post.creation_date }}</p>
            <p>{{ post.post_body }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no posts yet.</p>
{% endif %}

{% endblock %}