{% extends "discussions/base.html" %}

{% block content %}

<h1>{{ user.get_full_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if request.user.is_authenticated and request.user.pk == user.pk %}

    <a href="{% url 'discussions:edit_profile' %}">Edit profile</a> /
    <a href="{% url 'discussions:password_change' %}">Change password</a>

{% endif %}


<ul>
    <li>Username: {{ user.username }}</li>
    <li>City: {{ user.profile.user_location }}</li>
    <li>About me: {{ user.profile.user_about }}</li>
    <li>Avatar: <img src="{{ user.profile.user_avatar.url }}" width="100" height="150"> </li>
</ul>

{% endblock %}