{% extends "discussions/base.html" %}

{% block content %}

<h1>{{ user.get_full_name }} - Edit profile</h1>

<form method="post" action="{% url 'profiles:edit_profile' %}" enctype="multipart/form-data">

{% csrf_token %}

<table>
<tr>
    <td>{{ user_form.first_name.label_tag }}</td>
    <td>{{ user_form.first_name }}</td>
</tr>

<tr>
    <td>{{ user_form.last_name.label_tag }}</td>
    <td>{{ user_form.last_name }}</td>
</tr>

<tr>
    <td>{{ user_form.email.label_tag }}</td>
    <td>{{ user_form.email }}</td>
</tr>

<tr>
    <td>{{ profile_form.user_location.label_tag }}</td>
    <td>{{ profile_form.user_location }}</td>
</tr>

<tr>
    <td>{{ profile_form.user_about.label_tag }}</td>
    <td>{{ profile_form.user_about }}</td>
</tr>

<tr>
    <td>{{ profile_form.user_avatar.label_tag }}</td>
    <td>{{ profile_form.user_avatar }}</td>
</tr>

</table>

<p>Current avatar:
    <img src="{{ user_avatar.url }}" width="100" height="150">
</p>

<input type="submit" value="Save">

</form>


{% endblock %}