{% extends "core/base.html" %}

{% block content %}

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ username }} forum activity </h3>
        </div>
    </div>
    {% if user_posts_list %}
        {% for post in user_posts_list %}
            <div class="row border-top pt-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="h6" href="{% url 'discussions:topic' topic_id=post.topic.pk %}#{{ post.pk }}">{{ post.topic }}</a>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-2">
                            <i> {{ post.creation_date|date:'j E Y H:i' }} </i>
                        </div>
                        <div class="col-md-1">
                            <i> Votes: {{ post.votes }} </i>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-2">
                            <p> {{ post.post_body }} </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="row pt-3">
        <div class="col-md-12">
            <p>There are no posts yet.</p>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}